---
import { getImage, Image } from 'astro:assets';
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Main from '../../components/Main.astro';
import H1 from '../../components/H1.astro';
import TableOfContent from '../../components/TableOfContent.astro';

export const getStaticPaths = async () => {
  const posts = await getCollection('posts');

  const paths = posts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });

  return paths;
};

interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
const { Content, headings } = await post.render();
const coverImageSource = (await getImage({ src: post.data.image })).src;
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={coverImageSource}
>
  <Main>
    <a href='/blog' class='text-cyan-300 text-md font-bold mb-16 block'
      >&larr; Back to all blogs</a
    >
    <H1 text={post.data.title} />

    <Image
      src={post.data.image}
      alt={post.data.title}
      width={1024}
      height={1024 / 2}
      class='rounded-2xl shadow-lg shadow-black mb-28 aspect-thumbnail object-cover'
    />
    <div class='mb-10'>
      <TableOfContent headings={headings} />
    </div>

    <div
      class='prose max-md:prose-base prose-2xl prose-headings:text-white prose-a:text-cyan-500 prose-p:text-gray-300 hover:prose-a:text-cyan-600 prose-strong:text-gray-900 prose-pre:bg-white prose-strong:bg-cyan-100 prose-li:text-gray-300 overflow-visible relative grid'
    >
      <Content />
    </div>
    <div class='mt-28 w-full'>
      <script
        src='https://giscus.app/client.js'
        data-repo='Canfry/blog-git-issue'
        data-repo-id='R_kgDOKwzl3A'
        data-category='Blog Posts Comments'
        data-category-id='DIC_kwDOKwzl3M4CbMr_'
        data-mapping='url'
        data-strict='0'
        data-reactions-enabled='1'
        data-emit-metadata='0'
        data-input-position='bottom'
        data-theme='preferred_color_scheme'
        data-lang='en'
        crossorigin='anonymous'
        async></script>
    </div>
  </Main>
</Layout>
