---
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title = 'AnfryBlog',
  description = 'My personal blog',
  image = '/anfrydev.png',
} = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' href={image} />
    <meta name='generator' content={Astro.generator} />

    <!-- Open Grpah Meta -->
    <meta property='og:type' content='website' />
    <meta property='og:url' content={Astro.url} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={image} />
    <meta property='og:image:alt' content={description} />

    <!-- Twitter Meta -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content={Astro.url} />
    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={description} />
    <meta property='twitter:image' content={image} />
    <meta property='twitter:image:alt' content={description} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class='min-h-screen grid grid-rows-[auto,1fr,auto] bg-gradient-radial text-white relative'
  >
    <Header />
    <slot />
    <Footer />
  </body><style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');
    body {
      font-family: 'Comfortaa', cursive;
    }
  </style>
</html>
